.submit-button {
  padding: 10px;
  color: black;
  background-color: blueviolet;
  font-size: 20px;
  font-weight: bold;
  width: 96%;
}

.registerDiv {
  display: grid;
  border: 2px solid red;
  /* margin: 0 auto; */
  padding: 2% 5%;
  border-radius: 50px;
  background-color: wheat;
}

.form-group {
  width: 100%;
}

.form-group input,
textarea {
  border-color: chocolate;
}

.resDIV {
  color: #df1f26;
  padding-bottom: 5px;
  margin: 0;
  font-weight: 700;
  font-size: 2em;
}
