<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider">
      <li><img src="assets/images/banner1.jpg" class="img-responsive" alt="" />
        <div class="banner_desc">
        </div>
      </li>
      <li><img src="assets/images/banner2.jpg" class="img-responsive" alt="" />
        <div class="banner_desc">
        </div>
      </li>
      <li><img src="assets/images/banner3.jpg" class="img-responsive" alt="" />
        <div class="banner_desc">
        </div>
      </li>
    </ul>
  </div>
</div>
