<div class="footer_bg">
</div>
<div class="footer">
  <div class="container">
    <div class="col-md-3 f_grid1">
      <h3>About</h3>
      <a href="#"><img src="assets/images/logo.png" alt="" /></a>
      <p>Fashion is not something that exists in dresses only. Fashion is in the sky, in the street, fashion has to do
        with ideas, the way we live, what is happening.</p>
    </div>
    <div class="col-md-3 f_grid1 f_grid2">
      <h3>Follow Us</h3>
      <ul class="social">
        <li><a href="https://www.facebook.com/nitesh.yadav.391?ref=bookmarks"> <i class="fb"> </i>
            <p class="m_3">Facebook</p>
            <div class="clearfix"> </div>
          </a></li>
        <li><a href="@NiteshY555"><i class="tw"> </i>
            <p class="m_3">Twittter</p>
            <div class="clearfix"> </div>
          </a></li>
        <li><a href="https://www.linkedin.com/in/nitesh-yadav-5279a8146/"><i class="google"> </i>
            <p class="m_3">Linkedin</p>
            <div class="clearfix"> </div>
          </a></li>
        <li><a href="https://www.instagram.com/nitesh.yadv/?hl=en"><i class="instagram"> </i>
            <p class="m_3">Instagram</p>
            <div class="clearfix"> </div>
          </a></li>
      </ul>
    </div>
    <div class="col-md-3 f_grid3">
      <h3>Contact Info</h3>
      <ul class="list">
        <li>
          <p>Phone : +918052311630</p>
        </li>
        <li>
          <p>Email : Niteshy089@gmail.com</p>
        </li>
        <li>
          <p>Address: Jaunpur Uttar Pradesh 222137</p>
        </li>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="footer_bottom">
  <div class="container">
    <div class="cssmenu">
      <ul>
        <li class="active"><a href="login.html">Privacy Policy</a></li> .
        <li><a href="checkout.html">Terms of Service</a></li> .
        <li><a href="checkout.html">Creative Rights Policy</a></li> .
        <li><a href="login.html">Contact Us</a></li> .
        <li><a href="register.html">Support & FAQ</a></li>
      </ul>
    </div>
    <div class="copy">
      <p>&copy; <a href="#" target="_blank">onlineshoping</a></p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
