<!-- <app-slider></app-slider> -->
<section>
  <div class="container">
    <div class="row">
      <app-sidebar></app-sidebar>
      <div class="col-sm-9 padding-right">
        <h4 class="head" style="text-align: center;">About Us</h4>
        <div class="our-team">
          <h2 class="main-title" style="text-align: center;">Team Member</h2>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="single-team">
                <div class="team-img-name">
                  <img alt="" src="assets/images/p1.jpg" height="200px" width="200px">
                  <div class="member-title text-center">
                    <h2>Nitesh Yadav</h2>
                    <p><b>Mean Stack Developer</b></p>
                  </div>
                </div>
                <div class="member-info text-center">
                  <p>I Have done my Mean Stack Training in guidance of Sumit Joshi Sir.</p>
                  <div class="member-social">
                    <a class="m-linkedin" href="https://www.linkedin.com/in/nitesh-yadav-5279a8146/">
                      <i class="fa fa-linkedin" style="color: red;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="single-team team-mrg">
                <div class="team-img-name">
                  <img alt="" src="assets/images/p2.jpg" height="200px" width="200px">
                  <div class="member-title text-center">
                    <h2>Sumit Joshi</h2>
                    <p><b>Sr.Softwarre Developer</b></p>
                    <p><b>Mean Stack Trainer</b></p>
                  </div>
                </div>
                <div class="member-info text-center">
                  <p>8 year of experience in software development</p>
                  <div class="member-social">
                    <a class="m-linkedin" href="https://www.linkedin.com/in/sumit-joshi-87b4a1ab/">
                      <i class="fa fa-linkedin" style="color: red;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
